[build]
  publish = "public"
  command = "env && export && free -h  && echo hello there && hugo"
  onInit = "echo \"onInit starting\""
  functions = "functions"
  ignore = "test -n \"${INCOMING_HOOK_URL}\""

[build.environment]
  MADE_UP_VARIABLE_1 = "foo"
  MADE_UP_VARIABLE_2 = "bar"

[context.new-branch.environment]
  MADE_UP_VARIABLE_3 = "welp"

[dev]
  command = "hugo serve" # Command to start your dev server
#  port = 8888   # The port that the netlify dev will be accessible on
  publish = "public" # The path to your static content folder

[context.deploy-preview]
  command = "ls -alH ; identify -version ;  free -h ; env ; sleep 20 ; hugo  || { sleep 30 ; false ; } "


[[headers]]
  for = "/*"
  [headers.values]
    X-Pretend = "Let's pretend this is www.of-mu.org"


[[headers]]
  for = "/*"
  [headers.values]
    X-Pretend = "Let's pretend this is mufu.io"

[[redirects]]
  from = "/proxy/*"
  to = "https://enm3gl0izemm78z.m.pipedream.net/:splat"
  status = 200
  headers = {Origin = "www.testing.netlify.app"}
